.main-nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
   
}

.left-nav , .right-nav{
   display: flex;
   align-items: center;
}

.left-nav a, .right-nav a{
   padding: 10px;
   text-decoration: none;
   color:#6C6C6C;
   font-size: 15px;
}
.icon{
 height: 20px;
 width: 20px;
 margin-left: 10px;
   
}
.account {
   height: 30px;
   width: 30px;
   margin-left: 10px;
   border-radius: 50%;
   
  }

.main{
   text-align: center;
   position: relative;
   margin-bottom: 2rem;
}

.midpage{
   position: absolute;
   top: 6rem;
   left:25rem;
}

.input{
   width: 500px;
   padding: 12px;
   border-radius: 25px;
   border: 1px solid #dfe1e5;
   text-align: center;
   font-size: 18px;
   margin-bottom: 2rem;
}

input:focus{
   outline: none;
}

.searchbar{
   position: relative;
}
.searchicon{
   height: 25px;
   width: 25px;
   position: absolute;
   top: 10px;
   left: 8px;
}

.micicon{
   height: 30px;
   width: 30px;
   position: absolute;
   top: 9px;
   right: 8px;
}

.first ,
.second{
   border: none;
   padding: 12px;
   border-radius: 8px;
   margin: 10px;
}
.lang{
   text-decoration: none;
}

.bottom{
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   border: 1px solid #dfe1e5;
   background:#ebe8e8 ;
}

.row1{
   text-decoration: none;
   padding-left: 50px; 
   font-size: 15px;
   color: gray;
}
ul{
    list-style: none;
    display: flex;
  
 }
.row2{
   display: flex;
   justify-content: space-between;
   border: 1px solid #dfe1e5;
}

.left-footer ul li , .right-footer ul li {
   padding: 5px ;
   text-decoration: none;
   font-size: 15px;
   color: gray;
}
 
.row2 .left-footer ul li{
   margin-right: 20px;
}
.row2 .right-footer ul li{
   margin-left: 20px;
}